.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.logo-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 2%;

}

@media (max-width: 991px) {
  .logo-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 2%;
  }
  
}
